# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Supabase local artifacts
supabase/.temp/
supabase/.branches/
.supabase/

# Edge Functions local env
supabase/functions/**/.env